@charset "utf-8";
/* CSS Document */
/* MainMenu */
.MainMenu {
	background-color: #1E1E1E; /* 1 - Aplicar color de fondo al módulo*/
	text-align: center;  	        /*  3 - Alinea el texto al centro*/
	height: 60px;         	       /*  6 - Asigna un alto al módulo en porcentajes */
	position: fixed;     	       /*  8 - Permite que el modulo este siempre visible en el viewport (la pantalla del 
                                                                      dispositivo móvil  o pc) */
	left: 0;             	   /*  9 - Con la siguiente coordenada posicionamos el modulo a lado izquierdo*/
	right: 0;            	   /*  10 - Con la siguiente coordenada posicionamos el modulo a lado derecho*/
	top: 0;              	   /*  11 - Con la siguiente coordenada posicionamos el modulo a la parte superior*/
}
.MainMenu-list {
	margin: 0;           /* 13 - Se elimina el margen que estaba provocando que las opciones cayeran */
	padding: 0;         /* 14 - Eliminamos el espacio interior de lado izquierdo*/
}
.MainMenu-item {
	display: inline-block;  /* 2 - Posicionamos las opciones del menú horizontalmente*/
}
.MainMenu-link {
	color: #00DBFF;             /* 4 - Asignamos color turquesa a los ítems del menú*/
	text-decoration: none; /* 5 - Se quita el subrayado del hipervínculo*/
	line-height: 60px;          /* 7 - Se establece la altura a la línea que forma el contenido de texto del menú. Esto 
                                                             provoca que se alinea verticalmente */
	margin-right: 15px;       /*  12 - Agregamos margen a la derecha de cada opción del menú principal*/
}
/* Header */
.Header {
	margin-top: 50px;     				/* 1 - Agregamos margen alto del mismo tamaño aplicado al modulo 
del menu principal*/
	background-image: url('../img/portada.jpg');  	/* 2 - Agregamos un background de imagen*/
	background-repeat: no-repeat;                   		/* 3 - Indicamos que la imagen no se repita*/
	background-position: center;                     		/* 4 - Posicionamos la imagen de backgroudn en el centro*/
	background-size: cover;                          		/* 5 - Indicamos que se posicione a todo lo ancho del viewport*/
	text-align: center;                              		/* 6 - Alineamos el avatar al centro*/
	padding: 30px 0;                                 		/* 10 - Agregamos margen interno superior e inferior al elemento*/
}
.Header-imageContainer {
	margin: 0;       		/* 18 - Se quita margen del contenedor del avatar*/
}
.Header-image {
	border: 5px solid white;       /* 7 - Aplicamos un borde al avatar "tamaño, tipo y colo")*/
	border-radius: 50%;         	 /* 8 - Aplicamos el estilo redondeado "HTML5" */
	width: 150px;              	 /* 9  - Aplicamos un ancho a la imagen*/
}
.Header-name, .Header-link {
	color: white;    		/* 11 - Asignamos color a 2 elementos usuario y nombre */
}
.Header-link {
	font-size: 34px;         	/* 12 - Se asigna el tamaño de letra */
	font-weight: bold;       	/* 13 - Se agrega estilo de negrita*/
	text-decoration: none;   	/* 14 - Se elimina estilo subrayado*/
}
.Header-name {
	font-size: 20px;      	/* 15 - Se asigna tamaño de letra*/
	margin: 0;            		/* 16 - Se quita margen que evita que esten unidos El header name y el header link*/
}
/* Profile */
.Profile {
	text-align: center;         /* 1 - Centramos el texto del elemento perfil*/
}
.Profile-link {
	text-decoration: none;  	/* 4 - Se elimina subrayado*/
	padding: 10px 30px;         /* 5 - Le agregamos espacios internos, para poder separar los links de las redes sociales*/
	margin: 5px 15px;           /* 6 - Se agrega margenes*/
	background: orange;       /* 7-  Se agrega color de fondo naranja*/
	border-radius: 2em;        /* 8 - Se redondean la caja de para darle estilo de boton*/
	color: white;                     /* 9 - Aplicamos color blanco al texto de los hipervinculos de redes sociales*/
	display: inline-block;       /*10 - Este atibuto permite que los botones sean responsive*/
}
/* Utilities */
.u-title {
	color: #00CCFF;                                                  /* 1 - Se agrega color a los titulos*/
	border-bottom: 2px dashed #00CCFF;      	/* 2 - Se asigna un borde "tamaño, tipo, color"*/
	font-size: 24px;                         		/* 3 - Se agrega el tamaño de fuente aprox de 24 px*/
	font-weight: normal;                   		 /* 4 - Indicamos que esta etiqueta no sea bold "lo aplica el navegador"*/
	text-align: center;                    		 /* 5 - Centramos titulares de los modulos*/
	padding-bottom: 12px;                  		 /* 6 - Le agregamos espacio interno entre el texto y la caja*/
}
/* Work */
.Work {
	margin-top: 2em;            /* 1 - Agregamos margen entre modulo de trabajos y mi perfil*/
	text-align: center;         /* 5 - Centramos pie de fotos*/
}
.Work-item {
	display: inline-block;      /* 2 - Permite que las imagenes sean responsive*/
	margin: 0 20px 20px 0;  /* 3 - Se agrega margenes entre elementos */
}
.Work-imageContainer {
	margin: 0;                 /* 4 - Elimanos margenes adiciones del contenedor de imagenes*/
}
.Work-description {
	font-size: 16px;           /* 6 - Se agrega tamaño de letra*/
	color: #515151;            /* 7 - Se agrega color gris*/
	font-style: italic;        /* 8 - Se agrega estilo de fuente*/
}
.u-containerDefault {
	width: 80%;		   	 /* 7 - Se agrega un ancho*/
	margin: 0 auto;		/* 8 - Truco - A traves de margenes se centran los modulos*//* Footer */
}
.Footer {
	background-image: url('../img/footer.jpg');      /* 1 - Aplicamos fondo*/
	background-repeat: no-repeat;                       /* 2 - Se indica que la imagen no se repita*/
	background-position: center;                        /* 3 - Se alinea al centro*/
	background-size: cover;                             /* 4 - Se aplica efecto que la imagen se visualice en todo lo ancho del viewport*/
	text-align: center;                                 /* 10 - centrar los 2 contenedores*/
	padding: 30px 0; 			/* 14 - centrar los 2 contenedores*/
}
.Footer-left {
	width: 40%;                                        /* 7 - Se aplica un ancho al contenedor izquierdo*/
	text-align: center;             /* 8 - Centra texto */
	padding-right: 20px;	/* 9 - agrega espacio interno */
	display: inline-block;	/* 11 - Permite que el contenedors sean responsive */
	vertical-align: top;                  /* 13 - Permite posicionar arriba los contenedores*/
}
.Footer-right {
	display: inline-block;   		/* 12 - Permite que elcontenedors sean responsive */
}
.Footer-title {
	color: white;                                       /* 5 - Aplica color de texto al titulo del modulo*/
	margin-top: 0;                                      /* 6 - Se elimina margen superior al titulo del modulo*/
}
